section div.OurTeam {
  background-color: var(--white);
  min-height: 20rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 4rem;
}

div.OurTeam h1 {
  font-size: 2rem;
}

div.OurTeam p {
  font-size: 1rem;
  font-weight: 500;
}

section div.TeamParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #0a0a0a;
  padding: 6rem 3rem;
}

div.Team_IW div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

div.Team_IW img {
  height: 30rem;
  max-width: 100%;
  object-fit: cover;
}

div.Team_IW h2 {
  color: var(--white);
  margin-top: 1.5rem;
}

div.Team_IW p.title {
  color: #707070;
  font-weight: 600;
  font-size: 1rem;
}

div.Team_IW p.read {
  margin: 0.5rem;
  color: rgba(255, 255, 255, 0.623);
  text-align: center;
  font-size: 0.875rem;
}

div.Team_IW span {
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
