form {
  width: 100%;
}

div.sbs-input {
  display: flex;
  gap: 1.5rem;
}

div.sbs-input .form-group {
  flex: 1;
}

form div.form-group {
  position: relative;
  margin-bottom: 3rem;
}

div.form-group label {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  color: rgb(146, 149, 150);
  pointer-events: none;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.7s ease;
}

div.form-group input:focus + label,
div.form-group textarea:focus + label,
div.form-group input:not(:placeholder-shown) + label,
div.form-group textarea:not(:placeholder-shown) + label {
  top: -1.1rem;
}

div.form-group input,
div.form-group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: solid 2px rgb(146, 149, 150);
  padding: 0.875rem 0.5rem;
  font-size: 0.7rem;
  color: var(--black);
  transition: all ease 0.5s;
}

div.form-group input:hover,
div.form-group textarea:hover {
  background: rgba(214, 214, 214, 0.205);
}

div.form-group label {
  color: rgb(146, 149, 150);
}

div.form-group textarea {
  resize: none;
}

form button {
  width: 100%;
  height: 3rem;
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 4px;
  color: var(--white);
  font-weight: 700;
  transition: all ease 0.5s;
  position: relative;
}

form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  transition: all ease 0.5s;
}

form button:hover::after {
  background-color: rgba(255, 253, 253, 0.329);
  width: 100%;
  color: var(--red);
}
