/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html body h1 {
  font-size: clamp(0.5rem, 5vw, 1.6rem);
}

html body h2 {
  font-size: clamp(0.5rem, 5vw, 1.2rem);
}

html body h3 {
  font-size: clamp(0.4rem, 5vw, 1rem);
}

html body p {
  line-height: clamp(0.8rem, 5vw, 1.5rem);
  font-size: clamp(0.2rem, 3vw, 0.9rem);
}

html body button,
html body a {
  font-size: clamp(0.2rem, 3vw, 0.9rem);
}

html body span {
  font-size: clamp(0.2rem, 3vw, 0.9rem);
  line-height: clamp(0.8rem, 5vw, 1.5rem);
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
  will-change: transform, opacity;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
